html {
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  color: #bdbdbd;
  background-image: url(fumos.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  font-size: 1.5rem;
}

header {
  transition: all 0.3s ease;
  padding: 2rem;
  color: #efefef;
  background-color: rgb(0, 0, 0);
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

header:hover {
  box-shadow: 0 0.25rem 0.5rem black;
}

header h1 {
  text-align: center;
}

main article {
  transition: all 0.3s ease;
  text-align: center;
  width: 48%;
  border: 1px solid #2f2f31;
  border-radius: 2rem;
  background-color: #2f2f31;
  margin: 1rem auto;
  padding: 1rem;
}

main article:hover {
  box-shadow: 0 0 0.5rem black;
  border: 1px solid #272727;
  background-color: #272727;
}

main article figure {
  text-align: center;
}

main article figure img {
  display: inline-block;
  width: 206.5px;
  height: 289px;
}

main article h2 {
  text-align: center;
  display: inline-block;
  padding: 0.5rem;
  margin-left: 0.5rem;
  color: #efefef;
  background-color: rgb(16, 16, 16);
  border: 1px solid rgb(16, 16, 16);
  border-radius: 2rem;
}

main article p {
  padding: 0.5rem;
  text-align: justify;
}

main article ul li {
  list-style-type: disc;
  text-align: justify;
  padding-right: 1rem;
  padding-bottom: 0.25rem;
}

strong {
  color: white;
}

a:link,
a:visited {
  color: white;
}

a:hover {
  text-decoration: none;
}

a:active {
  color: black;
  background-color: white;
}
